@import "./partials/media-queries";
.container-home-chat {
  @include querie-compu {
    display: grid;
    grid-template-columns: 30% 1fr;
  }
  .toggle-side-contacts-conversations {
    display: none;

    @include querie-compu {
      display: block;
    }
  }
}
