@import "./partials/box-flex";
@import "./partials/variables";
@import "./partials/media-queries";
.container-sedMessage {
  width: 100%;
  @include box-flex;
  padding: 1rem 0.5rem;
  background-color: #f0f2f5;
  &__input-msg {
    width: 60%;
    padding: 1rem 0.8rem;
    border: none;
    outline: none;
    border-radius: 10px;

    @include querie-compu {
      width: 80%;
    }
  }
  &__btn-send-msg {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    margin: 0;
    background-color: $color-text-thirty;
    :hover {
      cursor: pointer;
    }
  }
}
