@import "./partials/variables";
@import "./partials/box-flex";

.side-contacts {
  min-height: 100vh;
  overflow: hidden;
  @include box-flex($direction: column, $gap: 0);
  .container-input-search-filter {
    width: 100%;
    @include box-flex;
    padding: 0.5rem 1rem;

    .container-input-search {
      width: 80%;
    }
  }
  .container-chats {
    width: 100%;
    flex-grow: 1;
    &__list {
      margin: 0;
      padding: 0;
      width: 100%;
      min-height: 30rem;
      max-height: 33rem;

      overflow: auto;
    }
  }

  .container-toolbar {
    width: 100%;
    padding: 1em 0;
    @include box-flex($alingHorizontal: space-around);
  }
}
