@import "./partials/variables";
@import "./partials/box-flex";
@import "./partials/media-queries";
.side-contacts {
  min-height: 100vh;
  position: relative;
  @include box-flex($direction: column, $gap: 0);

  .container-header {
    width: 100%;
  }
  .container-input-search-filter {
    width: 100%;
    @include box-flex;
    padding: 0.5rem 1rem;

    .container-input-search {
      width: 80%;
    }
  }

  .container-chats {
    width: 100%;
    flex-grow: 1;
    &__list {
      width: 100%;
      max-height: 23rem;

      @include querie-compu {
        max-height: 32rem;
      }
      margin: 0;
      padding: 0;
      overflow: scroll;
      overflow: auto;
    }
  }
  .container-footer {
    width: 100%;
    @include querie-compu {
      display: none;
    }
  }
  .container-toolbar {
    width: 100%;
    padding: 1em 0;
    @include box-flex($alingHorizontal: space-around);
  }
}
