@import "./partials/box-flex";
@import "./partials/media-queries";
@import "./partials/variables";
.container-login-register {
  font-size: 1.5rem;
  position: relative;

  @include querie-compu {
    font-size: 1.7rem;
  }
  .container-form {
    @include box-flex($direction: column);
    padding: 1em 1em 0 1em;
    gap: 0.5em;
    color: var(--color-text-thirty);
    @include querie-compu {
      padding: 1em 18em 0 18em;
    }
    &__label-avatar {
      @include box-flex($alingHorizontal: flex-start);
      width: 100%;
      .container-form__img-add-avatar {
        width: 3rem;
        height: 3rem;
      }
      .container-form__msg-add-avatar {
        font-size: 0.7em;
      }
    }
    &__label-avatar:hover {
      cursor: pointer;
    }
    &__form-button {
      background-color: $color-text-thirty;
      width: 100%;
      padding: 0.8em;
      margin: 1em 0 0 0;
      font-size: 0.7em;
      border-radius: 10px;
      border: none;
      color: $color-text-secondary;
    }
    &__form-button:hover {
      cursor: pointer;
    }
  }

  .container-social-media {
    @include box-flex($direction: column);
    &__container-message {
      @include box-flex;
      width: 88%;
      @include querie-compu {
        width: 35%;
      }
      position: relative; /* Para que los pseudo-elementos se posicionen dentro del contenedor */
      padding: 0 20px;
      margin: 1em 0 0 0;
      &::before,
      &::after {
        content: ""; /* Necesario para que los pseudo-elementos se muestren */
        position: absolute; /* Para que los pseudo-elementos se posicionen con respecto al contenedor */
        top: 50%; /* Para que los pseudo-elementos se posicionen en el centro vertical del contenedor */
        border-top: 1px solid #4949498a; /* Agrega una línea sólida de 1 píxel de ancho */
        width: 4em; /* Ajusta el ancho de las líneas a tu gusto */
        @include querie-compu {
          width: 7em;
        }
      }
      &::before {
        left: 1em;
      }
      &::after {
        right: 1em;
      }
      .container-social-media__message {
        font-size: 0.7em;
        color: #4949498a;
      }
    }

    &__container-buttons {
      // background-color: blue;
      overflow: hidden;
      @include box-flex;
      .container-social-media__button {
        width: 4rem;
        height: 4rem;
        @include box-flex;
        border-radius: 50%;
        border: 1px solid $color-text-thirty;
        background-color: transparent;
        overflow: hidden;
        .container-social-media__button-img {
          width: 50%;
          height: 100%;
        }
      }
      .container-social-media__button:hover {
        cursor: pointer;
      }
    }
    &__container-message-account {
      // background-color: red;
      @include box-flex;
      padding: 0 0 1em 0;
      font-size: 0.7em;
      color: var(--color-text-thirty);
      .container-social-media__change-view-login {
        border: none;
        background-color: transparent;
        font-weight: bold;

        font-size: 0.9em;
        color: var(--color-text-thirty);
      }
      .container-social-media__change-view-login:hover {
        cursor: pointer;
      }
    }
  }
}
